<section>
<br><div><p style="text-align:center;"><img  src="../assets/bio.jpg" width="30%" height="30%"></p></div><br>
  <p>E. E. Whitaker lives in Louisville, KY. She is a Baptist pastor and seminary teacher who has been serving churches for over fifteen years.<br>She hold a Master of Divinity and is finishing her PH.D work in Amsterdam. When’s she’s not preaching, teaching and traveling the world, she’s walking her Labrador Lucy. You can often find her in a local cigar lounge playing chess and enjoying a glass of bourbon with a mild cigar.<br></p>
</section>
